<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ru.itsln.thirdear.plist
   thirdear

   Created by Serg Boskitov on 01/12/2018.
   Copyright (c) 2018 ITSln. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>DEFAULT-OPTIONS</key>
        <dict>
            <key>Level</key>
            <dict>
                <key>Enable</key>
                <string>Info</string>
                <key>Persist</key>
                <string>Info</string>
            </dict>
        </dict>
    </dict>
</plist>

